body{
  background-color: black;
}

.logo{
  width: 150px;
  height: auto;

}

.subtitulo{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

.favicoin{
  width: 32px;
  height: auto;
}
